<html>
<head>
<title>Add New Restaurants</title>


</head>
<body>


	<form action="/add", method="post" enctype="multipart/form-data">
	
	<fieldset>
		<legend>Add New Restaurants:</legend>

			Name:<br>
			<input type="text" name="name" required ><br><br>
			Borough:<br>
			<input type="text" name="borough" ><br><br>
			Cuisine:<br>
			<input type="text" name="cuisine"><br><br>		
			Street:<br>
			<input  type="text" name="street"><br><br>
			Building:<br>
			<input  type="search" name="building"><br><br>
			Zipcode:<br>
			<input  type="text" name="zip"><br><br>
			Owner:<br>
			<input  type="text" name="owner" value="<%= n %>" readonly="readonly"  style="background-color: #B5B5B5;color: #000000"><br>
			
			<br>
			<input type="submit" value="Create">
			<input type="button" onclick="history.back()" value="Back">
	</fieldset>
		
	</form>
	
	     
	
</body>
</html>




