<html>
<body>
	<form action="/create" method="post">
		Create Username: <input type="text" name="name"><br>
		Create Password: <input type="password" name="password"><br>
	<input type="submit" value="Create">
	
	<input type="reset" value="Reset">
	</form>
</body>
</html>
