<HTML>
<BODY>

<fieldset>
	<legend>You deleted This Restaurant !!!</legend>
	<form action="/read" method="get" name="Delete">

	
		<input type="submit" value="Back">
	
	</form>

	</legend>


</BODY>
</HTML>


