<HTML>
<head>
<title>Rate Restaurants</title>


</head>

<BODY>

<fieldset>
	<legend>Rate This Restaurant</legend>
	<form action="/rate" method="post" name="rate">


	  <input type="number" name="score"
		min="1" max="10" step="1" value="1">

	
	<input type="submit" value="Rate">
	
    <input type="button" onclick="history.go(-2)" value="Back">
	</form>

	</legend>


</BODY>
</HTML>


